html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Unbounded", sans-serif;
}

.sec {
  background-color: #f7e6e6;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
}

.sec.hidden {
  opacity: 0;
  pointer-events: none;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  margin: 15px;
  display: inline-block;
}

.item0 {
  animation: 1s pulse0 infinite;
}

.item1 {
  animation: 1s pulse1 infinite;
}

.item2 {
  animation: 1s pulse2 infinite;
}

@keyframes pulse0 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(2);
  }
  43.3% {
    transform: scale(1);
  }
  76.6% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse1 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  43.3% {
    transform: scale(2);
  }
  76.6% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  43.3% {
    transform: scale(1);
  }
  76.6% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

header {
  height: 100px;
  background: linear-gradient(180deg, #afadad, rgb(255, 255, 255));
}

header .header-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

li {
  display: inline-block;
}

.header-menu > ul > li > a::after {
  content: "";
  width: 10%;
  height: 3px;
  background: #7d7979;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25px;
  opacity: 0;
}

.header-menu > ul > li > a:hover::after {
  width: 100%;
  transition-duration: 0.3s;
  opacity: 1;
}

.header-menu > ul > li > a {
  font-weight: 300;
  color: #7d7979;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 15px;
  font-family: "Unbounded", sans-serif;
  font-size: 15px;
  position: relative;
}

.header-menu > ul > li:last-child > a {
  margin-right: 0;
}

.header-wrapper {
  margin: 0 auto;
  width: 1440px;
  padding: 0 15px;
}

.logo {
  display: flex;
}

.logo-text {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  font-family: "Unbounded", sans-serif;
}

.logo-text span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: #7d7979;
}

.logo-text .m {
  color: rgba(255, 0, 0, 0.623);
  font-weight: 700;
}

.logo-text .t {
  color: rgba(255, 0, 0, 0.623);
  font-weight: 700;
}

.logo-text .school {
  font-weight: 700;
  color: rgba(255, 0, 0, 0.623);
}

footer {
  height: 100px;
  background: linear-gradient(0deg, #afadad, rgb(255, 255, 255));
}

footer .footer-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.footer-wrapper {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  padding: 0 15px;
}

.footer-menu > ul > li > a::after {
  font-weight: 300;
  content: "";
  width: 10%;
  height: 3px;
  background: #7d7979;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25px;
  opacity: 0;
}

.footer-menu {
  padding-bottom: 43px;
}

.footer-menu > ul > li > a:hover::after {
  width: 100%;
  transition-duration: 0.3s;
  opacity: 1;
}

.footer-menu > ul > li > a {
  font-weight: 300;
  color: #7d7979;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 15px;
  font-family: "Unbounded", sans-serif;
  font-size: 15px;
  position: relative;
}

.footer-menu > ul > li:last-child > a {
  margin-right: 0;
}

.locations {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 650px;
}

#slider-container {
  position: relative;
  width: 1440px;
  height: 650px;
  margin: 0 auto;
  overflow: hidden;
}

.iframe-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
}

.iframe-slide.active {
  opacity: 1;
  pointer-events: auto;
}

.iframe-slide iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contact-box {
  position: absolute;
  text-align: center;
  font-family: "Unbounded", sans-serif;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  background: white;
  color: black;
  padding: 30px;
  border-radius: 12px;
  max-width: fit-content;
  z-index: 10;
  box-shadow: 0 0 20px rgba(146, 88, 88, 0.4);
}

.contact-box h2 {
  font-weight: 500;
  font-family: "Unbounded", sans-serif;
  margin-top: 0;
  color: #d32f2f;
  font-size: 35px;
}

.question {
  font-weight: 300;
  width: 400px;
  word-wrap: break-word;
  text-align: center;
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

.contact-box a {
  font-family: "Unbounded", sans-serif;
  color: black;
  text-decoration: underline;
}

.contact-box p {
  font-weight: 100;
  font-family: "Unbounded", sans-serif;
  font-size: 15px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.controls button {
  font-family: "Unbounded", sans-serif;
  background-color: #f7e6e6;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}

.copyright {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: "Unbounded", sans-serif;
  font-size: 14px;
  color: #7d7979;
}

.swiper {
  width: 1000px;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #f7e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  padding-top: 30px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 140px !important;
  left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 140px !important;
  right: auto;
}

.feedback-section {
  text-align: center;
  padding: 50px 20px;
  margin-bottom: 51px;
  background-color: #f7e6e6;
}

.feedback-section h2 {
  font-family: "Unbounded", sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: black;
}

.feedback-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feedback-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 650px;
  height: 350px;
  text-align: center;
  font-family: "Unbounded", sans-serif;
}

.feedback-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.feedback-card p {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  line-height: 1.6;
  color: #7d7979;
}

.feedback-card h3 {
  font-size: 16px;
  font-weight: 700;
  color: black;
  font-family: "Unbounded", sans-serif;
}

.social-links {
  display: flex;
  align-items: flex-start;
  position: absolute;
  padding-left: 80px;
  gap: 15px;
  justify-content: center;
  margin: 20px 0;
}

.social-links a {
  text-align: center;
  text-decoration: none;
  color: #7d7979;
  font-family: "Unbounded", sans-serif;
  font-size: 14px;
}

.social-links img {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
}

.social-links span {
  display: block;
  margin-top: 5px;
}

.team-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 58px;
  font-weight: 700;
  color: #000;
  font-family: "Unbounded", sans-serif;
  width: 1063px;
  height: 157px;
}
.team-member {
  font-family: "Unbounded", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  box-sizing: border-box;
}
.biography {
  font-family: "Unbounded", sans-serif;
  width: 526px;
  height: 233px;
  flex: 1;
  border-radius: 8px;
}
.biography h2 {
  font-family: "Unbounded", sans-serif;
  padding-top: 19px;
  padding-bottom: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
.biography p {
  font-family: "Unbounded", sans-serif;
  margin: 10px 0;
  line-height: 1.4;
}

.biographys {
  font-family: "Unbounded", sans-serif;
  width: 526px;
  height: 233px;
  flex: 1;
  border-radius: 8px;
}
.biographys h2 {
  font-family: "Unbounded", sans-serif;
  padding-top: 19px;
  padding-bottom: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
.biographys p {
  font-family: "Unbounded", sans-serif;
  margin: 10px 0;
  line-height: 1.4;
  padding-left: 9px;
}

.first {
  background-color: #9fc2a9;
}
.second {
  background-color: #dcc9c0;
}
.third {
  background-color: #f4bfba;
}

.first-photo {
  width: 350px;
  height: 233px;
}

.second-photo {
  width: 350px;
  height: 233px;
}
.third-photo {
  width: 350px;
  height: 233px;
}

.team-boxf {
  width: 892px;
  height: 233px;
  gap: 16px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding-right: 50px;
}

.team-boxt {
  width: 892px;
  height: 233px;
  gap: 16px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding-right: 50px;
}

.team-boxs {
  width: 892px;
  height: 233px;
  gap: 16px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 72px;
}

.team-boxf .biography,
.team-boxt .biography {
  text-align: right;
}

.biography-container {
  display: inline-block;
  width: 350px;
  height: 233px;
  padding-right: 10px;
}

.biographys-container {
  width: 400px;
  height: 233px;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-container {
  width: 1440px;
  margin-bottom: 50px;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1440px;
  justify-items: center;
  align-items: start;
  gap: 30px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .courses-container {
    grid-template-columns: 1fr;
  }
}

.courses {
  background-color: #e96f66;
  height: 1085px;
}

.courses h1 {
  color: white;
  height: 100px;
}

.courses-title {
  display: flex;
  justify-content: center;
  margin: 0;
}

.card {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #e96f66;
  width: 594px;
  height: 375px;
}

.card h2 {
  font-size: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

h4 {
  margin-top: 0;
  font-size: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.card ul {
  list-style: none;
  padding-left: 0;
}

.card ul li::before {
  content: "•";
  color: white;
  font-size: 25px;
  font-weight: 100;
  display: inline-block;
}

.price {
  display: inline-block;
  background-color: #84b682;
  color: white;
  padding: 5px 12px;
  text-align: center;
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 100px;
  text-align: left;
}

.card-title img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 0;
}

.language-section {
  background: linear-gradient(0deg, #ffc6b6, white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  width: 1440px;
  height: 706px;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  max-width: 600px;
  line-height: 1.2;
}

.flag {
  width: 46px;
  height: 46px;
  position: relative;
  top: 10px;
}

.text-content h1 {
  font-family: "Unbounded", sans-serif;
  font-size: 58px;
  font-weight: bold;
  color: #000;
  line-height: 1.3;
  margin-top: 0;
  align-self: flex-start;
}

.text-content p {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.6;
  color: #444;
}

.image-content {
  transform: translateX(70px);
  position: absolute;
  bottom: 0;
  right: 0;
}
.image-content img {
  width: 618px;
  height: 660px;
}

.aboutUs {
  background-color: #fcf0f0;
}

.aboutus {
  margin: 0 auto;
  width: 1440px;
  height: 100%;
}

.aboutus-title {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.aboutus-title h2 {
  margin-left: 68px;
  width: 375px;
  height: 50px;
  color: black;
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}
.problems-title h2 {
  color: black;
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.block {
  width: 1059px;
  height: 299px;
  background: linear-gradient(0deg, #bebcbc, white);
  border-radius: 50px;
  text-align: left;
  font-size: 16px;
  margin-bottom: 46px;
}

.block p {
  padding-top: 15px;
  margin-left: 72px;
  font-weight: 300;
  font-size: 30px;
}

.cta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.cta .free-lesson {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 673px;
  height: 100px;
  background-color: #d32f2f;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
}

.cta .gift {
  width: 140px;
  height: 125px;
  margin-right: 5px;
}

.problems {
  margin-top: 40px;
}

.problems-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.problem-card1 {
  width: 400px;
  height: 260px;
  background-color: #ede8e8;
  border-radius: 50px;
  padding: 20px;
  margin-top: 43px;
}

.problem-card2 {
  width: 497px;
  height: 254px;
  background-color: #e5dfdf;
  border-radius: 50px;
  padding: 20px;
  margin-top: 94px;
}

.problem-card3 {
  width: 487px;
  height: 237px;
  background-color: #d7cccc;
  border-radius: 50px;
  padding: 20px;
  margin-top: 150px;
  margin-bottom: 41px;
}

.problem-text h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.problem-text p {
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.3;
  color: black;
}

.problems-title {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.fire {
  width: 70px;
  height: 70px;
  position: relative;
  top: 20px;
}

.problems-title img {
  width: 70px;
}
